{
    "$schema": "https://json.schemastore.org/prettierrc",
    "arrowParens": "avoid",
    "embeddedLanguageFormatting": "auto",
    "plugins": ["prettier-plugin-tailwindcss"],
    "printWidth": 144,
    "quoteProps": "consistent",
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false
}
